<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE256CE91E5226BB00057399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE256CFD1E5226BC00057399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE256D081E5226BC00057399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
